<h1>Pick Up App</h1>
<%= form_tag root_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<%= link_to "Log in", new_user_session_url %>
<%= link_to "Sign up", new_user_registration_url %>

<% if current_user %>
<%= link_to("Logout", destroy_user_session_path, :method => :delete) %>
<%= link_to "Create Game", new_game_url %>
<% end %>

<div id="map"></div>
