<div class="gameDetails container">
 <div>
  <h1>Game</h1>

  <p>Game Organizer:<%= @game.user.first_name %></p>
  <p>Players: <%= @game.players %></p></br>
  <%= @game.date.strftime("%m/%d/%Y") %> <%= @game.time.to_time.strftime('at %l:%M %p') %>
 </div>
  <div class="longitude_latitude">
    <div class="gameDate"><%= @game.date.strftime("%d-%m-%Y") %></div>
    <div class="longitude"><%= @game.longitude %></div>
    <div class="latitude"><%= @game.latitude %></div>
 </div>
</div>
