<% if @game.date < Date.today %>
 <div class="container">
   <h1>This game is done!<h1>
 </div>
<% else %>
  <div class="gameDetails container">
   <div>
    <h1>Game</h1>

    <p>Game Organizer:<%= @game.user.first_name %></p>
    <p>Players: <%= @game.players %></p></br>
    <%= @game.date.strftime("%m/%d/%Y") %> <%= @game.time.to_time.strftime('at %l:%M %p') %>
   </div>
    <div class="longitude_latitude">
      <div class="gameDate"><%= @game.date.strftime("%Y-%m-%d") %></div>
      <div class="longitude"><%= @game.longitude %></div>
      <div class="latitude"><%= @game.latitude %></div>
   </div>
  </div>
  <% end %>
